/AllTests.class
/GenomeCoverageTest.class
/InsertDistributionTest.class
/MappingQualityDistributionTest.class
/NormalDistributionModelerTest.class
/ReadStatisticsTest.class
/RpkmReferenceTest.class
/SequenceQualityDistributionTest.class
/TestObjectFactory.class
/UtilityTest.class
